.padding-mobile {
  padding-left: 1rem;
  padding-right: 1rem;
}
.yellow {
  color: #fee74c;
}
.u-top-margin-small {
  margin-top: 2rem;
}
.u-top-margin-middle {
  margin-top: 4rem;
}
.u-top-margin-big {
  margin-top: 8rem;
}
.u-top-margin-bigger {
  margin-top: 14rem;
}
.u-bot-margin-small {
  margin-bottom: 2rem;
}
.u-bot-margin-middle {
  margin-bottom: 4rem;
}
.u-bot-margin-big {
  margin-bottom: 8rem;
}
.u-bot-margin-bigger {
  margin-bottom: 14rem;
}
.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
.responsive {
  width: 100%;
  height: auto;
}
.hidden {
  visibility: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
@media (max-width: 878px) {
  html {
    font-size: 50%;
  }
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  font-family: 'Stolzl-Regular', sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  color: #000;
  position: relative;
}
.total_wrapper {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}
.inner_wrapper {
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
}
.outer_wrapper {
  width: 100vw;
  overflow-x: hidden;
}
.footer {
  background-color: #006fb9;
  color: white;
  position: relative;
  padding-bottom: 2rem;
}
.footer-decoration {
  position: absolute;
  display: block;
}
.footer-decoration:nth-child(1) {
  transform: translateY(-49%);
}
.footer-decoration:nth-child(2) {
  transform: translateY(-49%);
  right: 0;
}
@media (max-width: 878px) {
  .footer-decoration {
    width: 15rem;
  }
}
.footer__content {
  padding-top: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__content a {
  color: white;
}
.footer__content a:hover {
  color: white;
}
.footer__content img {
  width: 3rem;
}
.footer__content ul {
  list-style: none;
}
.footer__content ul li {
  min-height: 3rem;
}
@media (max-width: 878px) {
  .footer__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.modal__heading {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}
.trial-form .input-data {
  display: block;
  height: 50px;
  color: #000;
  font-size: 18px;
  border: 1px solid #ebebeb;
  padding-left: 15px;
  margin-bottom: 10px;
  font-family: 'Stolzl-Regular', sans-serif;
  width: 100%;
  box-sizing: border-box;
}
.trial-form select {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: #333;
  font-size: 18px;
  position: relative;
  padding-right: 55px;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #ebebeb;
  padding-left: 15px;
  font-family: 'Stolzl-Regular';
  text-align: left;
}
.trial-form textarea {
  width: 100%;
  color: #333;
  resize: none;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #ebebeb;
  padding: 10px;
}
.trial-form .submit {
  width: 100%;
  background-color: #ff0000;
  color: white;
  height: 50px;
  border-radius: 1.5rem;
  text-transform: uppercase;
  border-color: transparent;
  outline: transparent;
}
.form_status {
  text-align: center;
  margin-top: 2rem;
}
h1 {
  text-align: center;
  font-size: 4.5rem;
  font-family: 'Stolzl-Bold', sans-serif;
  margin-bottom: 4rem;
}
@media (max-width: 878px) {
  h1 {
    font-size: 3.3rem;
  }
}
.subtitle {
  text-align: center;
  font-size: 2.5rem;
}
.narration {
  font-size: 1.9rem;
  line-height: 180%;
}
@media (max-width: 878px) {
  .narration {
    font-size: 1.4rem;
    line-height: 150%;
  }
}
.narration-big {
  font-size: 3.2rem;
  line-height: 180%;
}
@media (max-width: 878px) {
  .narration-big {
    font-size: 2.2rem;
    line-height: 150%;
  }
}
.hr-header {
  padding: 0;
  margin: 0;
}
.lightshot {
  display: none;
}
.lightshot:target {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}
.lightshot:target img {
  display: block;
  position: relative;
  max-height: 80vh;
  margin-top: 5vh;
  padding-right: 2vw;
  padding-left: 2vw;
  max-width: 96vw;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
#thanksImg {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 15px auto;
}
@media (max-width: 400px) {
  #thanksImg {
    max-width: 150px;
  }
}
.hidden {
  visibility: hidden;
}
.camp-spacing {
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.camp-front {
  padding-top: 3.3rem;
  background-image: url('../img/camp_bg1d.png');
  background-size: 140rem;
  background-position-x: 50%;
  background-position-y: -2.4rem;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
@media (max-width: 1282px) {
  .camp-front {
    background-position: top left;
  }
}
@media (max-width: 878px) {
  .camp-front {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 501px) {
  .camp-front {
    background-position: top center;
    background-size: 428px;
    padding-top: 240px;
  }
}
.camp-front__headings {
  max-width: 79.3rem;
}
@media (max-width: 500px) {
}
.camp-front__headings h1 {
  font: 700 6rem/100% 'Stolzl-Bold', sans-serif;
  text-align: left;
}
@media (max-width: 878px) {
  .camp-front__headings h1 {
    font-size: 7rem;
    line-height: 120%;
  }
}
@media (max-width: 450px) {
  .camp-front__headings h1 {
    font-size: 3rem;
    max-width: 30rem;
    position: relative;
    top: -242px;
  }
}
.camp-front__headings h2 {
  text-align: right;
  font: 700 3.2rem/4rem 'Stolzl-Regular', sans-serif;
  max-width: 64rem;
}
@media (max-width: 878px) {
  .camp-front__headings h2 {
    font-size: 2.5rem;
    line-height: 110%;
  }
}
@media (max-width: 450px) {
  .camp-front__headings h2 {
    font-size: 2.5rem;
    line-height: 110%;
    text-align: center;
    position: relative;
    top: -35px;
  }
}
.camp-front__bubbles {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 8.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70.7rem;
  box-sizing: border-box;
}
@media (max-width: 878px) {
  .camp-front__bubbles {
    justify-content: flex-start;
  }
}
@media (max-width: 521px) {
  .camp-front__bubbles {
    justify-content: center;
    background-color: #fee74c;
    padding-top: 3rem;
  }
}
.camp-front__bubbles-item {
  box-sizing: border-box;
  height: 20.1rem;
  width: 20.1rem;
  background-color: #006fb9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-filter: drop-shadow(4.48167px 4.48167px 8.96334px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(4.48167px 4.48167px 8.96334px rgba(0, 0, 0, 0.25));
  margin-bottom: 3.3rem;
}
.camp-front__bubbles-item p {
  box-sizing: border-box;
  color: #fff;
  font: 500 2rem/150% 'Stolzl-Regular', sans-serif;
  text-align: center;
}
.camp-front__bubbles-item p a {
  color: inherit;
}
.camp-front__bubbles-item p a:hover {
  text-decoration: underline;
}
@media (max-width: 1052px) {
  .camp-front__bubbles-item {
    margin-right: 1.5rem;
  }
  .camp-front__bubbles-item p {
    font-size: 2.5rem;
    line-height: 150%;
  }
  .camp-front__bubbles-item:nth-child(1) {
    margin-right: 1.5rem;
  }
  .camp-front__bubbles-item:nth-child(2) {
    margin-right: 1.5rem;
  }
  .camp-front__bubbles-item:nth-child(4) {
    margin-right: 1.5rem;
  }
}
@media (max-width: 501px) {
  .camp-front__bubbles-item {
    width: 100%;
    border-radius: 0;
    height: auto;
    padding: 2rem;
  }
  .camp-front__bubbles-item br {
    display: none;
  }
}
.camp-photos {
  transform: translateY(-9rem);
  background-image: url(../img/camp_bg2.png);
  background-repeat: no-repeat;
  background-position-y: 54.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
@media (max-width: 1005px) {
  .camp-photos {
    flex-direction: column;
    background-image: none;
  }
}
.camp-photos__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (max-width: 1005px) {
  .camp-photos__item {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.camp-photos__item .photo {
  position: relative;
}
@media (max-width: 1005px) {
  .camp-photos__item .photo {
    order: 1;
  }
  .camp-photos__item .photo img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 60rem;
    margin: 1.5rem auto;
  }
}
.camp-photos__item .text {
  position: relative;
}
@media (max-width: 1005px) {
  .camp-photos__item .text {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.camp-photos__item .sign {
  position: relative;
}
.camp-photos__item .sign:before {
  content: '';
  position: absolute;
  width: 22.384rem;
  height: 22.384rem;
  display: block;
  top: -1.5rem;
  left: 1.5rem;
  z-index: -1;
  border: 6.28444rem solid #32a858;
  box-sizing: border-box;
  border-radius: 111.922px;
}
.camp-photos__item .sign .word1 {
  font: 700 2.8rem/3.5rem 'Stolzl-Medium', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}
.camp-photos__item .sign .word2 {
  font: 700 16rem/12rem 'StolzM-BoldCondensed', sans-serif;
  margin-bottom: 0;
}
.camp-photos__item .sign .word3 {
  font: 700 2.8rem/3.5rem 'Stolzl-Medium', sans-serif;
  margin-left: 4rem;
  letter-spacing: 0.2rem;
}
.camp-photos__item .sign .subtitle {
  font: 400 1.6rem/4rem 'Stolzl-Regular', sans-serif;
  margin-top: 3.5rem;
  max-width: 27rem;
  text-align: left;
  margin-left: 4.4rem;
}
.camp-photos__item .desc {
  font: 400 1.6rem/3.2rem 'Stolzl-Regular', sans-serif;
}
.camp-photos__item .desc .details {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 1.5rem;
  background-color: #006fb9;
  color: #fff;
  transition: all 0.25s linear;
}
.camp-photos__item .desc .details:hover {
  text-decoration: none;
  background-color: #32a858;
}
.camp-photos__item:nth-child(1) {
  margin-top: 4rem;
}
.camp-photos__item:nth-child(1) .photo:after {
  content: '';
  position: absolute;
  width: 7.9rem;
  height: 18.4rem;
  bottom: -9rem;
  left: 35%;
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(1) .photo:after {
    display: none;
  }
}
.camp-photos__item:nth-child(1) .sign {
  transform: translateX(-4.5rem);
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(1) .sign {
    transform: translate(0);
  }
}
.camp-photos__item:nth-child(1) .desc {
  margin-top: 3rem;
}
.camp-photos__item:nth-child(2) .sign {
  position: absolute;
  top: 0;
  right: -5rem;
  z-index: 2;
  max-width: 26.8rem;
}
.camp-photos__item:nth-child(2) .sign .subtitle {
  padding-right: 4rem;
}
.camp-photos__item:nth-child(2) .sign:before {
  border-color: #fee74c;
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(2) .sign {
    position: relative;
  }
}
.camp-photos__item:nth-child(2) .desc {
  padding-top: 30rem;
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(2) .desc {
    padding-top: 2rem;
  }
}
.camp-photos__item:nth-child(3) .sign {
  transform: translateX(-6rem);
}
.camp-photos__item:nth-child(3) .sign:before {
  border-color: #ff0000;
  transform: translateX(1rem);
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(3) .sign {
    transform: translate(0);
  }
  .camp-photos__item:nth-child(3) .sign:before {
    transform: translate(0);
  }
}
.camp-photos__item:nth-child(3) .text {
  transform: translateY(5rem);
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(3) .text {
    transform: translateY(0);
  }
}
.camp-photos__item:nth-child(3) .desc {
  padding-top: 2.3rem;
  transform: translateX(-1.5rem);
}
@media (max-width: 1005px) {
  .camp-photos__item:nth-child(3) .desc {
    transform: translate(0);
  }
}
.camp-schedule {
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.camp-schedule h2 {
  text-align: left;
  font: 600 4.8rem/1.6rem 'Stolzl-Regular';
  padding-bottom: 6.3rem;
}
@media (max-width: 1386px) {
  .camp-schedule h2 {
    font-size: 3rem;
    line-height: 150%;
  }
}
.camp-schedule__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.camp-schedule__table-item {
  width: 50%;
}
.camp-schedule__table-item .detailed {
  align-items: center;
  font: 400 1.6rem/2rem 'Stolzl-Regular', sans-serif;
  margin-bottom: 2rem;
}
.camp-schedule__table-item .detailed .circle {
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-right: 4rem;
  background-color: #32a858;
  display: inline-block;
  height: 8.2rem;
  width: 8.2rem;
  overflow: hidden;
  border-radius: 50%;
  padding-top: 0.8rem;
  border: 1px solid;
  vertical-align: middle;
}
.camp-schedule__table-item .detailed .text {
  display: inline-block;
  width: 69%;
  vertical-align: middle;
}
@media (max-width: 1386px) {
  .camp-schedule__table-item {
    width: 50%;
  }
}
@media (max-width: 878px) {
  .camp-schedule__table {
    flex-direction: column;
  }
  .camp-schedule__table-item {
    width: 100%;
  }
}
@media (max-width: 354px) {
  .camp-schedule .detailed .circle {
    margin-right: 2rem;
  }
}
.camp-bubbles {
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  background-image: url(../img/camp_worm_yellow1.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  padding-top: 20rem;
  transform: translateY(-10rem);
}
.camp-bubbles__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.camp-bubbles__holder-item {
  height: 30rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32a858;
  border-radius: 50%;
}
.camp-bubbles__holder-item p {
  text-align: center;
  color: #fff;
  width: 90%;
}
@media (max-width: 1252px) {
  .camp-bubbles {
    padding-top: 10rem;
  }
  .camp-bubbles__holder-item {
    margin: 1rem;
    width: 100%;
    border-radius: 0;
    height: auto;
    padding: 2rem;
  }
}
.camp-prices {
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.camp-prices h2 {
  text-align: left;
  padding-bottom: 5.2rem;
  font: 500 4.8rem/1.6rem 'Stolzl-Medium', sans-serif;
}
.camp-prices__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.camp-prices__holder-item {
  width: 32%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 878px) {
  .camp-prices__holder-item {
    width: 49%;
  }
}
@media (max-width: 453px) {
  .camp-prices__holder-item {
    width: 100%;
  }
}
.camp-prices__holder-item .price-container .content {
  background-color: #006fb9;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}
.camp-prices__holder-item .price-container .content .price-bold {
  display: block;
  margin: 0;
  font: 500 3.2rem/1.2rem 'Stolzl-Medium', sans-serif;
}
.camp-prices__holder-item .price-container .content em {
  display: block;
  margin: 0;
  text-align: center;
  font: 1.6rem/1.2rem 'Stolzl-Regular', sans-serif;
  padding-top: 2rem;
}
.camp-prices__holder-item .text-container {
  margin-left: 3rem;
}
.camp-prices__holder-item .text-container h6,
.camp-prices__holder-item .text-container p {
  margin: 0;
  text-align: left;
}
.camp_offer {
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  margin-top: 3.6rem;
  position: relative;
  z-index: 2;
}
.camp_offer:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
  background-image: url(../img/camp_worm_sides1.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
}
@media (max-width: 878px) {
  .camp_offer:after {
    background-size: contain;
  }
}
@media (max-width: 681px) {
  .camp_offer:after {
    background-image: none;
  }
}
.camp_offer__holder {
  padding-top: 6.1rem;
  padding-bottom: 7.2rem;
  max-width: 66.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 507px) {
  .camp_offer__holder {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.camp_offer__holder-item {
  width: 30rem;
  height: 30rem;
  background-color: #ED1C24;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 507px) {
  .camp_offer__holder-item {
    margin-bottom: 2rem;
  }
}
.camp_offer__holder-item:after {
  content: '';
  width: 9.6rem;
  height: 9.6rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/camp_yellow_start.png);
  position: absolute;
  display: block;
  top: 0;
  right: -0.5rem;
}
.camp_offer__holder-item .content .left1 {
  font: 700 3.2rem/3.2rem 'Stolzl-Bold', sans-serif;
  max-width: 14.8rem;
  padding-bottom: 1.8rem;
}
.camp_offer__holder-item .content .left2 {
  font: 700 8rem/3.2rem 'Stolzl-Bold', sans-serif;
  padding-bottom: 2.5rem;
}
.camp_offer__holder-item .content .left3 {
  font: 1.6rem/3.2rem 'Stolzl-Regular', sans-serif;
}
.camp_offer__holder-item .content .right1 {
  font: 700 3.2rem/3.2rem 'Stolzl-Regular', sans-serif;
  max-width: 16.3rem;
}
.camp_offer__holder-item .content .right2-holder {
  display: flex;
  max-width: 15.4rem;
}
.camp_offer__holder-item .content .right2-holder .right2 .price {
  display: block;
  font: 700 3.2rem/3.2rem 'Stolzl-Regular', sans-serif;
  padding-bottom: 1rem;
}
.camp_offer__holder-item .content .right2-holder .right2 .text {
  display: block;
  font: 400 1.6rem/1.6rem 'Stolzl-Regular', sans-serif;
}
.camp_conclusion {
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  background-image: url(../img/camp_conclusion2.png);
  background-repeat: no-repeat;
  background-position: top center;
  transform: translateY(-8rem);
  padding-top: 11.6rem;
  margin-bottom: -8rem;
  padding-bottom: 7rem;
}
@media (max-width: 1225px) {
  .camp_conclusion {
    background-position: top right -80rem;
  }
}
@media (max-width: 878px) {
  .camp_conclusion {
    background-image: none;
  }
}
.camp_conclusion h2 {
  max-width: 73rem;
  text-align: left;
  font: bold 8rem/9rem 'Stolzl-Bold', sans-serif;
  padding-bottom: 6.9rem;
}
@media (max-width: 878px) {
  .camp_conclusion h2 {
    font-size: 5rem;
    line-height: 150%;
    padding-bottom: 3rem;
  }
}
.camp_conclusion .subheading {
  font: 3.2rem/4rem 'Stolzl-Bold', sans-serif;
  max-width: 42.4rem;
  margin-bottom: 10rem;
}
@media (max-width: 878px) {
  .camp_conclusion .subheading {
    font-size: 2.5rem;
    line-height: 150%;
    margin-bottom: 4rem;
  }
}
.camp_conclusion .adress {
  text-align: center;
  font: 3.2rem/4rem 'Stolzl-Bold', sans-serif;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
@media (max-width: 569px) {
  .camp_conclusion .adress {
    font-size: 2.5rem;
    line-height: 150%;
    text-align: left;
  }
}
.camp_conclusion .notification {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
}
@media (max-width: 569px) {
  .camp_conclusion .notification {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.camp_conclusion .notification-item .btn-notify {
  background-color: #ED1C24;
  color: #fff;
  width: 27rem;
  height: 6.4rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 3.2rem/3.2rem 'Stolzl-Regular', sans-serif;
}
@media (max-width: 569px) {
  .camp_conclusion .notification-item:nth-child(3) {
    order: 1;
  }
  .camp_conclusion .notification-item:nth-child(1) {
    order: 2;
  }
}
.camp_conclusion .notification-item .big {
  font: bold 11rem 'Stolzl-Bold', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.45;
}
@media (max-width: 569px) {
  .camp_conclusion .notification-item .big {
    display: none;
  }
}
.camp_conclusion .notification-item .extra {
  font: 1.6rem/2rem 'Stolzl-Regular', sans-serif;
  max-width: 27rem;
  margin-top: 1.3rem;
}
.camp_sign_up {
  z-index: 5;
  display: flex;
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: flex-end;
  margin-top: 80px;
}
.camp_sign_up a {
  display: block;
  background-color: #ff0000;
  padding: 1.5rem 2.5rem;
  color: #fff;
  border-radius: 1.5rem;
  font-size: 2rem;
}
.camp_sign_up a:hover {
  text-decoration: none;
  background-color: #32a858;
  opacity: 1;
}
@media (max-width: 635px) {
  .camp_sign_up {
    position: relative;
  }
}
.loading {
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  border: 1rem solid transparent;
  border-top-color: #006fb9;
  border-radius: 50%;
  -webkit-animation: loading-spin 1.75s linear infinite;
  animation: loading-spin 1.75s linear infinite;
  position: relative;
}
@-webkit-keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inner_camp .inner_camp_bubbles {
  display: flex;
  flex-wrap: wrap;
  max-width: 95rem;
  justify-content: space-evenly;
  margin: 0 auto;
  background-image: url('http://online.inventor.com.ua/img/steps_bg.svg');
  background-repeat: no-repeat;
  background-size: 150%;
  margin-bottom: 5.5rem;
}
.inner_camp .inner_camp_bubbles .item {
  height: 15rem;
  width: 15rem;
  background-color: #fee74c;
  color: #000;
  text-align: center;
  padding: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.daily {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: url(http://online.inventor.com.ua/img/worm-course.svg);
  background-repeat: no-repeat;
  background-position: bottom right -15rem;
}
.daily h2 {
  font-size: 4.8rem;
  line-height: 150%;
  font-weight: 600;
  font-family: 'Stolzl-Regular', sans-serif;
  text-align: center;
}
@media (max-width: 878px) {
  .daily h2 {
    font-size: 3rem;
  }
}
.daily .listing {
  max-width: 65rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.daily .listing li {
  margin: 1rem;
  border-radius: 1.5rem;
  padding: 1.5rem 3rem;
  max-width: 25rem;
  display: block;
}
.daily .listing li:nth-child(even) {
  margin-left: auto;
  background-color: #006fb9;
  color: #fff;
}
.daily .listing li:nth-child(odd) {
  background-color: #fee74c;
  margin-right: auto;
}
.result {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.result h2 {
  font-size: 4.8rem;
  line-height: 150%;
  font-weight: 600;
  font-family: 'Stolzl-Regular', sans-serif;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (max-width: 878px) {
  .result h2 {
    font-size: 3rem;
  }
}
.result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.result ul li {
  box-shadow: 0.1rem 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  transition: all 0.25s ease;
  position: relative;
  font-size: 2.3rem;
  line-height: 150%;
}
.result ul li i {
  color: #32a858;
}
.result ul li:hover {
  background-color: #fee74c;
  padding: 2rem 2.5rem;
}
.sign_up_foot {
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.sign_up_foot a {
  display: block;
  width: 100%;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  transition: all 0.25s ease;
}
.sign_up_foot a:hover {
  text-decoration: none;
  transform: translateY(0.25rem);
}
.inner-center {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .inner-center {
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }
}
.c-header {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 6.1rem;
  background-image: url(../img/c-screen1-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
@media (max-width: 1206px) {
  .c-header {
    background-position: top right -50rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }
}
@media (max-width: 878px) {
  .c-header {
    background-position: top right -100rem;
  }
}
@media (max-width: 400px) {
  .c-header {
    background-position: top right -120rem;
  }
}
.c-header .logo-group {
  max-width: 59rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
  .c-header .logo-group img {
    margin-bottom: 2rem;
  }
}
.c-header .logo-group h1 {
  font-size: 25.1rem;
  line-height: 75%;
  font-family: 'StolzM-BoldCondensed', sans-serif;
  margin: 0;
}
.c-header .logo-group h2 {
  font-size: 4.1rem;
  line-height: 100%;
  font-family: 'StolzM-Bold', sans-serif;
  text-align: right;
  text-transform: uppercase;
}
.c-header .logo-group p {
  text-align: right;
  margin-right: 2rem;
  font-size: 1.6rem;
  line-height: 4rem;
}
@media (max-width: 1206px) {
  .c-header .logo-group {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
  }
  .c-header .logo-group h1,
  .c-header .logo-group h2,
  .c-header .logo-group p {
    text-align: left;
  }
  .c-header .logo-group h1 {
    padding-top: 2rem;
  }
}
.c-header .bubble-group {
  display: flex;
  padding-bottom: 12rem;
}
@media (max-width: 1205px) {
  .c-header .bubble-group {
    flex-wrap: wrap;
  }
}
.c-header .bubble-group .bubbles {
  max-width: 52.4rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5.7rem;
}
@media (max-width: 402px) {
  .c-header .bubble-group .bubbles {
    margin-right: 0;
  }
}
.c-header .bubble-group .bubbles .item {
  width: 18.1rem;
  height: 18.1rem;
  background-color: #32a858;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.c-header .bubble-group .bubbles .item:nth-child(1) {
  margin-right: 5rem;
}
.c-header .bubble-group .bubbles .item:nth-child(3) {
  margin-left: 10rem;
  margin-right: 5rem;
}
.c-header .bubble-group .bubbles .item h2 {
  font-size: 8rem;
  line-height: 80%;
  margin: 0;
  font-family: 'StolzM-BoldCondensed', sans-serif;
}
@media (max-width: 496px) {
  .c-header .bubble-group .bubbles .item {
    margin-right: 1rem;
  }
  .c-header .bubble-group .bubbles .item:nth-child(1) {
    margin-right: 1rem;
  }
  .c-header .bubble-group .bubbles .item:nth-child(3) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.c-header .bubble-group .text_btn {
  width: 100%;
  max-width: 61.8rem;
  align-self: flex-end;
  text-align: right;
  transform: translateY(25%);
}
.c-header .bubble-group .text_btn p {
  max-width: 50.9rem;
  text-align: left;
  margin-bottom: 2.4rem;
}
.c-header .bubble-group .text_btn a.btn-reg {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
  background-color: #EC1C24;
  padding: 2.7rem 8.2rem;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 1.5rem;
  text-align: right;
  text-decoration: none;
}
.c-schedule {
  max-width: 1200px;
  margin: 0 auto;
}
.c-schedule h2 {
  font-size: 4.8rem;
  line-height: 150%;
  font-family: 'Stolzl-Medium', sans-serif;
  padding-bottom: 5.9rem;
}
.c-schedule .circle {
  color: #000 !important;
  border: 1px solid transparent !important;
  outline: none;
}
@media (max-width: 1575px) {
  .c-every-day-wrapper {
    overflow-x: hidden;
    overflow-y: visible;
    height: 45rem;
  }
}
@media (max-width: 1307px) {
  .c-every-day-wrapper {
    height: auto;
  }
}
.c-every-day {
  max-width: 1400px;
  margin: 0 auto;
  clear: both;
}
.c-every-day h2 {
  font-family: 'Stolzl-Medium', sans-serif;
  font-size: 4.8rem;
  line-height: 2.4rem;
  padding-bottom: 5rem;
  padding-top: 4rem;
  padding-left: 11rem;
}
.c-every-day .right,
.c-every-day .left {
  width: 60%;
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
}
.c-every-day .left {
  background-color: #fee74c;
  z-index: 1;
  padding: 3.3rem 14.4rem 3.3rem 12rem;
}
.c-every-day .left p {
  max-width: 46.9rem;
}
.c-every-day .right {
  background-color: #32a858;
  z-index: 2;
  float: right;
  padding: 9.7rem 1rem 9.2rem 4rem;
  transform: translate(10%, -110%);
  position: relative;
}
.c-every-day .right:before {
  content: '';
  display: block;
  position: absolute;
  width: 11.1rem;
  height: 19.9rem;
  background-image: url(../img/c-rarr.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: -35%;
  right: 35%;
}
@media (max-width: 1575px) {
  .c-every-day .right:before {
    display: none;
  }
}
.c-every-day .right p {
  max-width: 59.9rem;
}
@media (max-width: 1307px) {
  .c-every-day {
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }
  .c-every-day .right,
  .c-every-day .left {
    float: none;
    width: 100%;
    transform: translate(0, 0);
    line-height: 150%;
    padding: 2.5rem;
  }
  .c-every-day .right:before,
  .c-every-day .left:before {
    display: none;
  }
  .c-every-day .right p,
  .c-every-day .left p {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 1200px) {
  .c-every-day h2 {
    padding-left: 0;
    margin-left: 0;
  }
}
.c-results {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 8.2rem;
  background-image: url(../img/c-result-bg1.png);
  background-repeat: no-repeat;
  background-position: top right -40rem;
}
.c-results .content {
  max-width: 1400px;
  margin: 0 auto;
}
.c-results .content h2 {
  font-size: 4.8rem;
  line-height: 150%;
  font-family: 'Stolzl-Medium', sans-serif;
  padding-bottom: 4.8rem;
}
.c-results .content p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 46.9rem;
}
.c-results .content .btn-reg {
  display: inline-block;
  background-color: #EC1C24;
  color: #fff;
  border-radius: 2rem;
  padding: 3.2rem 8.2rem;
  box-sizing: border-box;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Stolzl-Medium', sans-serif;
  text-decoration: none;
  margin-left: 25rem;
}
@media (max-width: 878px) {
  .c-results .content .btn-reg {
    margin-left: 0;
  }
}
@media (max-width: 1600px) {
  .c-results {
    background-position-x: 80rem;
  }
}
@media (max-width: 1200px) {
  .c-results {
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }
}
.none {
  display: none !important;
}
.section-half:nth-of-type(odd) {
  background-color: #E6F8FE;
}
.section-half__content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.section-half__content-kid {
  background-image: url(../img/camp_kid.png);
  background-size: contain;
  background-position: center right 15px;
  background-repeat: no-repeat;
}
@media (max-width: 1215px) {
  .section-half__content-kid {
    background-image: none;
  }
}
.section-half__heading {
  font-size: 5rem;
  line-height: 150%;
  font-weight: 600;
}
.section-half__heading-sub {
  font-size: 3.5rem;
  line-height: 150%;
  font-weight: 400;
}
.section-half__list,
.section-half p {
  list-style-type: none;
  font-size: 2rem;
  line-height: 150%;
  max-width: 875px;
}
.section-half__list li,
.section-half p li {
  padding-bottom: 0.5rem;
}
.camp__sport {
  position: relative;
  z-index: 5;
}
.camp__sport-flex {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.camp__sport-flex iframe {
  display: block;
  width: 100%;
  max-width: 640px;
  height: 360px;
}
@media (max-width: 1152px) {
  .camp__sport-flex {
    flex-direction: column;
  }
}
header.header .line {
  box-sizing: border-box;
}
/*# sourceMappingURL=_camp.css.map */