@font-face {
  font-family: 'Stolzl-Regular';
  src: url('../fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Stolzl-Regular.otf')  format('opentype'),
  url('../fonts/Stolzl-Regular.woff') format('woff'), url('../fonts/Stolzl-Regular.ttf')  format('truetype'), url('../fonts/Stolzl-Regular.svg#Stolzl-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl-Medium';
  src: url('../fonts/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Stolzl-Medium.otf')  format('opentype'),
  url('../fonts/Stolzl-Medium.woff') format('woff'), url('../fonts/Stolzl-Medium.ttf')  format('truetype'), url('../fonts/Stolzl-Medium.svg#Stolzl-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
} /*
@font-face {
  font-family: 'StolzM-Bold';
  src: url('../fonts/StolzM-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/StolzM-Bold.otf')  format('opentype'),
  url('../fonts/StolzM-Bold.woff') format('woff'), url('../fonts/StolzM-Bold.ttf')  format('truetype'), url('../fonts/StolzM-Bold.svg#StolzM-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl-Bold';
  src: url('../fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Stolzl-Bold.otf')  format('opentype'),
  url('../fonts/Stolzl-Bold.woff') format('woff'), url('../fonts/Stolzl-Bold.ttf')  format('truetype'), url('../fonts/Stolzl-Bold.svg#Stolzl-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StolzM-BoldCondensed';
  src: url('../fonts/StolzM-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/StolzM-BoldCondensed.otf')  format('opentype'),
  url('../fonts/StolzM-BoldCondensed.woff') format('woff'), url('../fonts/StolzM-BoldCondensed.ttf')  format('truetype'), url('../fonts/StolzM-BoldCondensed.svg#StolzM-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@fontRegular: 'Stolzl-Regular', sans-serif;
@fontMedium: 'Stolzl-Medium', sans-serif;
@fontBoldM: 'StolzM-Bold', sans-serif;
@fontBold: 'Stolzl-Bold', sans-serif;
@fontCondesed: 'StolzM-BoldCondensed', sans-serif;

.font-size-1 {
  font: 600 6rem/7.2rem @fontRegular;
  letter-spacing: -.02em;
}
.font-size-2 {
  font: 600 4rem/4.8rem @fontRegular;
  letter-spacing: -.02em;
}
.font-size-3 {
  font: 600 2.4rem/2.9rem @fontRegular;
  letter-spacing: -.02em;
}
.font-size-4 {
  font: 600 1.6rem/1.92rem @fontRegular;
}